@import "layouts/l-header";
@import "layouts/fonts";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
img{
    width: 100%;
    height: 100vh;
}
h1, h2, h3, p, a{
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
}
section{
    height: 100vh;
    width: 100%;
}
#services{
    background: #b24a50;
}
#contacts{
    background: #75b4aa;
}
.colorServices{
    background: #df5c64;
}
// h2{
//     font-size: 500px;
// }