@use "layouts/l-header" as *;
@use "base/fonts" as *;
@use "base/reset" as *;
@use "layouts/l-main" as *;
@use "layouts/mediaQ-layouts/mediaQ.scss" as *;

html{
    scroll-behavior: smooth;    
}
body{
    overflow-x: hidden;
}
#services{
    background-image: url('./img/services-bg-pattern.png');
}   
#contacts{  
    background-image: url('./img/contacts-bg-pattern.png');
}
   