@import "layouts/l-header";
@import "base/fonts";
@import "base/reset";
@import "layouts/l-main";

html{
    scroll-behavior: smooth;
}
section, img{
    height: 40rem;
    width: 100%;
}
#services{
    background-image: url('./img/services-bg-pattern.png');
}
#contacts{
    background-image: url('./img/contacts-bg-pattern.png');
}
