@import url("https://fonts.googleapis.com/css2?family=Damion&family=Lato:wght@300;400&display=swap");
.l-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: fixed;
  width: 100%;
  z-index: 10;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.4rem 16%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.l-header #ihome {
  background: #74c7d5;
}

.l-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  right: 10px;
  z-index: 20;
  cursor: pointer;
}

.l-header__item {
  padding: 40px 32px 16px 32px;
  margin-left: 5px;
  border-radius: 0px 0px 5px 5px;
}

.l-header__item:hover {
  -webkit-filter: brightness(40%);
          filter: brightness(40%);
}

.l-header__logo {
  color: white;
  font-family: 'Damion', cursive;
  font-size: 2.5rem;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-size: 100%;
  color: white;
  font-family: 'Lato', sans-serif;
}

.carrossel {
  width: 100%;
  overflow: hidden;
}

.carrossel__slides-container {
  height: 40rem;
  -webkit-transition: 900ms cubic-bezier(0.48, 0.15, 0.18, 1);
  transition: 900ms cubic-bezier(0.48, 0.15, 0.18, 1);
  position: relative;
}

.carrossel__slide-image {
  height: 100%;
  width: 100%;
  position: absolute;
}

.carrossel__imagem {
  width: 100%;
  height: 40rem;
  -o-object-fit: cover;
     object-fit: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.carrossel__prev-btn, .carrossel__next-btn {
  background: #010011;
  padding: 16px;
  top: 50%;
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  font-size: 40px;
  -webkit-transition: 400ms;
  transition: 400ms;
  z-index: 100;
  background: transparent;
  border-radius: 50%;
}

.carrossel__prev-btn:hover, .carrossel__next-btn:hover {
  background: #0a036d;
}

.carrossel__prev-btn {
  left: 0;
}

.carrossel__next-btn {
  right: 0;
}

.carrossel__container-text {
  background: rgba(252, 250, 250, 0.733);
  width: 41rem;
  height: 12rem;
}

.boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.boxes__content {
  position: relative;
  top: 50px;
  background: #c8535a;
  opacity: 0.8;
  width: 12rem;
  height: 16rem;
  margin: 50px 10px 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
}

.boxes__circle {
  margin-top: 20px;
  width: 5.5rem;
  height: 5.5rem;
  background: #ffffff;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.boxes__inner-circle {
  width: 5rem;
  height: 5rem;
  background: #ffffff;
  border-radius: 100px;
  border: solid 2px #c8535a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.boxes__inner-circle img {
  width: 3rem;
  height: 4rem;
}

.contacts-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: start;
  position: relative;
  top: 50px;
  width: 100%;
}

.information__address {
  width: 380px;
  height: 15rem;
}

.information__containers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 10rem;
}

.information__itens {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.information__ask-question {
  width: 380px;
  height: 15rem;
}

.information__container-contacts {
  width: 10rem;
}

.information__item-container-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.information__form {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'name     name     email    email' 'textarea textarea textarea textarea' '.        button    button  .';
  gap: 16px;
}

.information__name {
  width: 182px;
  height: 2rem;
  border-radius: 5px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: name;
  background: #68a097;
  border: none;
}

.information__email {
  width: 182px;
  height: 2rem;
  border-radius: 5px;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: email;
  border: none;
}

.information__img {
  width: 190px;
  height: 175px;
}

.information__textarea {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: textarea;
  width: 380px;
  height: 8rem;
  background: #68a097;
  border: none;
  border-radius: 5px;
}

.information button {
  width: 10rem;
  height: 2rem;
  background: #df5c64;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: button;
}

.information input::-webkit-input-placeholder, .information textarea::-webkit-input-placeholder {
  color: #75b4aa;
}

.information input:-ms-input-placeholder, .information textarea:-ms-input-placeholder {
  color: #75b4aa;
}

.information input::-ms-input-placeholder, .information textarea::-ms-input-placeholder {
  color: #75b4aa;
}

.information input::placeholder, .information textarea::placeholder {
  color: #75b4aa;
}

.l-text-section {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.l-text-section__container {
  margin: 0 16.6%;
}

.l-text-section__title {
  font-size: 3rem;
  margin: 20px;
  text-transform: uppercase;
  font-weight: 300;
}

.l-text-section__larger-text {
  font-size: 1rem;
  margin: 10px;
  font-weight: 500;
}

.l-text-section__carrossel-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 3rem;
  color: #74c7d5;
  font-weight: 300;
  text-align: end;
}

.l-text-section__carrossel-title b {
  font-size: 7rem;
  font-weight: bold;
  color: #74c7d5;
}

.l-text-section__container-title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 20px;
}

.l-text-section__text {
  font-size: 0.7rem;
}

.l-text-section__local-name {
  font-size: 1rem;
  color: #c0dfda;
  margin-bottom: 5px;
}

.l-text-section__up {
  text-transform: uppercase;
}

.l-text-section__send-button {
  font-size: 1.3rem;
  color: #fff;
}

.l-text-section__address-text {
  font-size: 0.8rem;
}

@media (max-width: 768px) {
  .l-header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .l-header__logo {
    display: none;
  }
  .l-header__list {
    display: none;
    width: 100%;
    height: 100px;
  }
  .l-header.active {
    background: rgba(0, 0, 0, 0.61);
  }
  .l-header.active .l-header__logo {
    font-size: 4rem;
    display: block;
  }
  .l-header.active .l-header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
    height: 100vh;
    margin-top: 100px;
  }
  .l-header.active__item {
    padding: 20px 40px;
    margin: 2rem 1rem;
    border-radius: 5px;
  }
  .menu-dropdown {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 40px;
    margin-right: 60px;
    cursor: pointer;
  }
  .menu-dropdown__1, .menu-dropdown__2, .menu-dropdown__3 {
    background: #fff;
    height: 10px;
    width: 50px;
    margin: 10px;
    border-radius: 2px;
  }
}

@media (min-width: 1600px) {
  .l-header__logo {
    font-size: 5rem;
  }
  .l-header__item {
    padding: 80px 64px 32px 64px;
    gap: 10px;
    font-size: 32px;
  }
}

@media (max-width: 425px) {
  .menu-dropdown {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 20px;
    margin-left: 10px;
  }
  .menu-dropdown__1, .menu-dropdown__2, .menu-dropdown__3 {
    height: 8px;
    width: 40px;
    margin: 8px;
  }
  .l-header.active .l-header__logo {
    position: absolute;
    top: 10px;
    font-size: 3rem;
  }
  .l-header.active .l-header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    right: 80px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 50px;
    margin-top: 150px;
    margin-left: 0;
  }
  .l-header__item {
    padding: 20px;
    margin: 1rem 0.5rem;
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  .carrossel__container-text {
    width: 500px;
    padding: 0;
  }
  .l-text-section__carrossel-title {
    font-size: 32px;
  }
  .l-text-section__carrossel-title b {
    font-size: 90px;
  }
}

@media (min-width: 1600px) {
  .carrossel__container-text {
    width: 1000px;
    height: 300px;
  }
  .l-text-section__carrossel-title {
    font-size: 5rem;
  }
  .l-text-section__carrossel-title b {
    font-size: 15rem;
  }
  .home-section {
    height: 1080px;
  }
  .carrossel__imagem, .carrossel__slides-container, .carrossel__slide-image {
    height: 1080px;
  }
}

@media (max-width: 1024px) {
  .carrossel__container-text {
    width: 500px;
    height: 150px;
  }
  .l-text-section__carrossel-title {
    font-size: 2.5rem;
  }
  .l-text-section__carrossel-title b {
    font-size: 7.5rem;
  }
  .home-section {
    height: 540px;
  }
  .carrossel__imagem, .carrossel__slides-container, .carrossel__slide-image {
    height: 540px;
  }
}

@media (max-width: 425px) {
  section {
    padding: 0;
  }
  .carrossel__container-text {
    width: 250px;
    height: 100px;
  }
  .l-text-section__carrossel-title {
    font-size: 1.2rem;
  }
  .l-text-section__carrossel-title b {
    font-size: 3.6rem;
  }
}

@media (min-width: 1025px) {
  .services-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 1269px) {
  .services-section {
    height: 60rem;
  }
  .boxes {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 655px) {
  .services-section {
    height: 100rem;
  }
  .boxes {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .boxes__content {
    margin: 12.5px 0;
  }
}

@media (min-width: 1600px) {
  .services-section {
    height: 1080px;
  }
  .l-text-section__title {
    font-size: 72px;
    margin: 40px;
  }
  .l-text-section__larger-text {
    font-size: 32px;
  }
  .l-text-section__text {
    font-size: 24px;
  }
  .l-text-section__container-title {
    font-size: 3rem;
  }
  .div-services {
    height: 840px;
  }
  .boxes {
    height: 540px;
  }
  .boxes__content {
    width: 24rem;
    height: 32rem;
  }
  .boxes__circle {
    margin-top: 40px;
    width: 11rem;
    height: 11rem;
    border-radius: 100px;
  }
  .boxes__inner-circle {
    width: 10rem;
    height: 10rem;
    border-radius: 100px;
  }
  .boxes__inner-circle img {
    width: 6rem;
    height: 8rem;
  }
}

@media (max-width: 1024px) {
  .services-section {
    height: 540px;
  }
  .l-text-section__title {
    font-size: 32px;
  }
  .l-text-section__larger-text {
    font-size: 12px;
  }
  .l-text-section__text {
    font-size: 9px;
  }
  .l-text-section__container-title {
    font-size: 2rem;
  }
  .div-services {
    height: 840px;
  }
  .boxes {
    height: 200px;
  }
  .boxes__content {
    width: 9rem;
    height: 12rem;
  }
  .boxes__circle {
    width: 4.5rem;
    height: 4.5rem;
  }
  .boxes__inner-circle {
    width: 4rem;
    height: 4rem;
  }
  .boxes__inner-circle img {
    width: 3rem;
    height: 4rem;
  }
}

@media (max-width: 375px) {
  .services-section {
    height: 1680px;
  }
  .div-services {
    margin: 0 auto auto auto;
  }
  .l-text-section__title {
    font-size: 4rem;
  }
  .l-text-section__larger-text {
    font-size: 20px;
  }
  .l-text-section__text {
    font-size: 12px;
  }
  .l-text-section__container-title {
    font-size: 1.5rem;
  }
  .boxes {
    gap: 10px;
  }
  .boxes__content {
    width: 12rem;
    height: 16rem;
  }
}

@media (max-width: 1165px) {
  .contacts-section {
    height: 960px;
  }
}

@media (min-width: 1600px) {
  .contacts-section {
    height: 1080px;
  }
  .l-text-section__local-name {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  .l-text-section__send-button {
    font-size: 2.6rem;
  }
  .l-text-section__address-text {
    font-size: 1.6rem;
  }
  .information {
    top: 100px;
  }
  .information__address {
    width: 760px;
    height: 30rem;
  }
  .information__containers {
    height: 20rem;
  }
  .information__ask-question {
    width: 760px;
    height: 30rem;
  }
  .information__container-contacts {
    width: 20rem;
  }
  .information__item-container-contacts {
    margin: 10px 0;
  }
  .information__email, .information__name {
    width: 364px;
    height: 4rem;
  }
  .information__img {
    width: 380px;
    height: 350px;
  }
  .information__textarea {
    width: 760px;
    height: 16rem;
  }
  .information button {
    width: 20rem;
    height: 4rem;
  }
}

@media (max-width: 1024px) {
  .contacts-section {
    height: 540px;
  }
  .information {
    width: 700px;
  }
  .information__address, .information__ask-question {
    width: 340px;
    height: 13rem;
  }
  .information__containers {
    height: 8rem;
  }
  .information__container-contacts {
    width: 8rem;
  }
  .information__email, .information__name {
    width: 160px;
    height: 1.8rem;
  }
  .information__img {
    width: 180px;
    height: 150px;
  }
  .information__textarea {
    width: 340px;
    height: 7rem;
  }
  .information button {
    width: 8rem;
    height: 1.8rem;
  }
}

@media (max-width: 425px) {
  .contacts-section {
    height: 1000px;
  }
  .information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 500px;
  }
  .information__address, .information__ask-question {
    width: 340px;
    height: 13rem;
  }
  .information__containers {
    height: 8rem;
  }
  .information__container-contacts {
    width: 8rem;
  }
  .information__email, .information__name {
    width: 160px;
    height: 1.8rem;
  }
  .information__img {
    width: 180px;
    height: 150px;
  }
  .information__textarea {
    width: 340px;
    height: 7rem;
  }
  .information button {
    width: 8rem;
    height: 1.8rem;
  }
}

html {
  scroll-behavior: smooth;
}

section, img {
  height: 40rem;
  width: 100%;
}

#services {
  background-image: url("./img/services-bg-pattern.png");
}

#contacts {
  background-image: url("./img/contacts-bg-pattern.png");
}
/*# sourceMappingURL=style.css.map */