.carrossel {
  width: 100%;
  overflow: hidden;
}

.carrossel__slides-container {
  height: 40rem;
  -webkit-transition: 900ms cubic-bezier(0.48, 0.15, 0.18, 1);
  transition: 900ms cubic-bezier(0.48, 0.15, 0.18, 1);
  position: relative;
}

.carrossel__slide-image {
  height: 100%;
  width: 100%;
  position: absolute;
}

.carrossel__imagem {
  width: 100%;
  height: 40rem;
  -o-object-fit: cover;
     object-fit: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.carrossel__prev-btn, .carrossel__next-btn {
  background: #010011;
  padding: 16px;
  top: 50%;
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  font-size: 40px;
  -webkit-transition: 400ms;
  transition: 400ms;
  z-index: 100;
  background: transparent;
  border-radius: 50%;
}

.carrossel__prev-btn:hover, .carrossel__next-btn:hover {
  background: #0a036d;
}

.carrossel__prev-btn {
  left: 0;
}

.carrossel__next-btn {
  right: 0;
}

.carrossel__container-text {
  background: rgba(252, 250, 250, 0.733);
  width: 41rem;
  height: 12rem;
}

.boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.boxes__content {
  position: relative;
  top: 50px;
  background: #c8535a;
  opacity: 0.8;
  width: 12rem;
  height: 16rem;
  margin: 50px 10px 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
}

.boxes__circle {
  margin-top: 20px;
  width: 5.5rem;
  height: 5.5rem;
  background: #ffffff;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.boxes__inner-circle {
  width: 5rem;
  height: 5rem;
  background: #ffffff;
  border-radius: 100px;
  border: solid 2px #c8535a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.boxes__inner-circle img {
  width: 3rem;
  height: 4rem;
}

.contacts-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: start;
  position: relative;
  top: 50px;
  width: 100%;
}

.information__address {
  width: 380px;
  height: 15rem;
}

.information__containers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 10rem;
}

.information__itens {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.information__ask-question {
  width: 380px;
  height: 15rem;
}

.information__container-contacts {
  width: 10rem;
}

.information__item-container-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.information__form {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'name     name     email    email' 'textarea textarea textarea textarea' '.        button    button  .';
  gap: 16px;
}

.information__name {
  width: 182px;
  height: 2rem;
  border-radius: 5px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: name;
  background: #68a097;
  border: none;
}

.information__email {
  width: 182px;
  height: 2rem;
  border-radius: 5px;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: email;
  border: none;
}

.information__img {
  width: 190px;
  height: 175px;
}

.information__textarea {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: textarea;
  width: 380px;
  height: 8rem;
  background: #68a097;
  border: none;
  border-radius: 5px;
}

.information button {
  width: 10rem;
  height: 2rem;
  background: #df5c64;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: button;
}

.information input::-webkit-input-placeholder, .information textarea::-webkit-input-placeholder {
  color: #75b4aa;
}

.information input:-ms-input-placeholder, .information textarea:-ms-input-placeholder {
  color: #75b4aa;
}

.information input::-ms-input-placeholder, .information textarea::-ms-input-placeholder {
  color: #75b4aa;
}

.information input::placeholder, .information textarea::placeholder {
  color: #75b4aa;
}

.l-text-section {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.l-text-section__container {
  margin: 0 16.6%;
}

.l-text-section__title {
  font-size: 3rem;
  margin: 20px;
  text-transform: uppercase;
  font-weight: 300;
}

.l-text-section__larger-text {
  font-size: 1rem;
  margin: 10px;
  font-weight: 500;
}

.l-text-section__carrossel-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 3rem;
  color: #74c7d5;
  font-weight: 300;
  text-align: end;
}

.l-text-section__carrossel-title b {
  font-size: 7rem;
  font-weight: bold;
  color: #74c7d5;
}

.l-text-section__container-title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 20px;
}

.l-text-section__text {
  font-size: 0.7rem;
}

.l-text-section__local-name {
  font-size: 1rem;
  color: #c0dfda;
  margin-bottom: 5px;
}

.l-text-section__up {
  text-transform: uppercase;
}

.l-text-section__send-button {
  font-size: 1.3rem;
  color: #fff;
}

.l-text-section__address-text {
  font-size: 0.8rem;
}
/*# sourceMappingURL=l-main.css.map */