.contacts-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.div-contacts{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contacts__container-text{
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.information{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: start;
    position: relative;
    width: 100%;
    height: 100%;
    &__address{
        display: flex;
        flex-direction: column;
        width: 45%;
        height: 80%;
    }
    &__containers{
        display: flex;
        flex-wrap: wrap;
        gap: 3.5%;
        width: 100%;
    }
    &__itens{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__container-contacts{
        width: 10rem;
    }
    &__item-container-contacts{
        display: flex; 
        margin: 5px 0;
        justify-content: space-between;
    }
    &__ask-question{
        margin-left: 1%;
        width: 45%;
        height: 85%;
    }
    &__form{
        display: grid;
        grid-template-areas:
        'name     name     email    email'
        'textarea textarea textarea textarea'
        '.        button    button  .';
        gap: 7%;

    }
    &__name{
        width: 100%;
        height: 2rem;
        border-radius: 5px;
        grid-area: name;
        background: #68a097;
        border: none;
    }
    &__email{
        width: 100%;
        height: 2rem;
        border-radius: 5px;
        grid-area: email;
        border: none;
    }
    &__img{
        width: 200px;
        height: 175px;
    }
    &__textarea{
        grid-area: textarea;
        width: 100%;
        height: 8rem;
        background: #68a097;
        border: none;
        border-radius: 5px;
    } 
    button{
        width: 10rem;
        height: 2rem;
        background: #df5c64;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        grid-area: button;
        margin: auto;
    }
    input::placeholder, textarea::placeholder{
        color: #75b4aa;
    }
}
